@page "/"
@model GarageManager.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Mechanic.MechanicName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.MechanicName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
